.agree{

    position: relative;
    text-align: center;
    margin-bottom: 30px;
    
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;

    color: var(--page-main-color);

}

.agree__text{
    display: block;
    padding-left: 12px;

    @media screen and (max-width: 1199px) {
        font-size: 10px;
    }


    @media screen and (max-width: 479px) {
        font-size: 9px;
    }

    @media screen and (max-width: 400px) {
        font-size: 6px;
    }
}


.agree__link{
    display: inline-block;
    margin: 0;

    color: var(--accent-color);
}

.agree__cell{

    position: absolute;
    top: 3px;
    opacity: 1;
    left: 0;

    display: inline-block;

    
    width: 16px;
    height: 15px;
    
    

    border: 2px solid #000000;
    border-radius: 2px;
    background-color: var(--contrast-color);

    pointer-events: none;

    

    @media screen and (max-width: 479px) {
        left: 1px;
    }
    @media screen and (max-width: 400px) {
        left: 30px;
        top: 0;
    }

    @media screen and (min-width: 480px) {
        left: 27px;
    }


    @media screen and (min-width: 1200px) {
        left: 15px;
    }

    .agree__input:checked ~ &{
        opacity: 0;
    }
}

.agree__icon{
    position: absolute;
    top: 3px;
    opacity: 0;
    left: 0;

    

    @media screen and (max-width: 479px) {
        left: 1px;
    }

    @media screen and (max-width: 400px) {
        left: 30px;
        top: 0;
    }

    @media screen and (min-width: 480px) {
        left: 27px;
    }

    @media screen and (min-width: 1200px) {
        left: 15px;
    }

    background-color: var(--accent-color);
    border-radius: 2px;
    border: 2px solid var(--accent-color);

    pointer-events: none;

    fill: var(--contrast-color);

    .agree__input:checked ~ & {
        opacity: 1;
    }
}



