.features-list{
    @extend %set-flex;
}

.features-list__item{
    @extend %item-set-flex;

    &:not(:last-child){
        @extend %set-margin;
    }
}



.features-list__picture{
    background-color: #F5F4FA;
    
    margin-bottom: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;

    @media screen and (min-width: 480px) {
        width: 450px;
        height: 120px;
    }

    @media screen and (min-width: 768px) {
        width: 354px;
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
    }
    
}


.features-list__subtitle{
    @extend %text-style;

    margin-bottom: 10px;

    color: var(--additional-page-color);
}

.features-list__text{
    margin-top: 0;
    margin-bottom: 0;

    font-size: 14px;
    line-height: 1.71;
}