.logo{
    display: inline-block;
    padding-right: 93px;

    text-decoration: none;
    font-family: var(--additional-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;

}

.logo__first-part{
    color: var(--accent-color);
}