.modal-window--hidden {

    opacity: 0;
    visibility: 0;

    @media screen and (min-width: 768px) {
        transform: translate(-50%, -50%) scale(0.15);
    }
    
}

.modal-window{
    position: relative;
    opacity: 1;
    visibility: visible;
    transition: 
    opacity 250ms var(--function-timing),
    visibility 250ms var(--function-timing);
    
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;

    @media screen and (max-width: 767px) {
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width: 480px) {
        width: 450px;
        min-height: 609px;
    }

    @media screen and (min-width: 768px) {
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms var(--function-timing), 
    opacity 250ms var(--function-timing),
    visibility 250ms var(--function-timing);

    }
    


    @media screen and (min-width: 1200px) {
        width: 528px;
        min-height: 580px;
    }

    background-color: var(--contrast-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal-window__title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;

    @media screen and (min-width: 1200px) {
        line-height: 1.15;
    }

    color: var(--additional-page-color);
}