.network-list {
    display: flex;
    width: 206px;
    justify-content: center;

    &--centered{
        margin-left: auto;
        margin-right: auto;
    }
}

.network-list__item:not(:last-child) {
    margin-right: 10px;
}

.network-list__link{
    width: 44px;
    height: 44px;
    
    transition: background-color 250ms var(--function-timing);
    
    border-radius: 50%;
    background-color: var(--contrast-color);

    &:hover,
    &:focus{
        background-color: var(--accent-color);
    }

    &--dark{
        background-color: rgba(255, 255, 255, 0.1); 
    }
}

.network-list__symbol{
    transition: fill 250ms var(--function-timing);

    fill: var(--icon-color);

    .network-list__link:hover &,
    .network-list__link:focus &{
    fill: var(--contrast-color);
    }

    &--contrast {
        fill: var(--contrast-color);
    }
}
