.page-footer{
    padding-top: 60px;
    padding-bottom: 60px;

    color: var(--contrast-color);
    background-color: #2F303A;
}

.page-footer__tablet{
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        justify-content: space-around;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: space-between;

        width: 506px;
    }

    @media screen and (max-width: 1199px) {
        margin-bottom: 60px;
    }
}

.page-footer__container{

    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: space-between;
    }

    @media screen and (max-width: 1199px) {
        text-align: center;
    }
}

.page-footer__thumb{

    @media screen and (max-width: 767px) {
        margin-bottom: 60px;
    }
}

.page-footer__logo{
    margin-top: 0;
    padding-bottom: 28px;
    margin-right: 0;
    padding-right: 0;

    color: var(--contrast-color);
}

.page-footer__address{
    display: flex;
    flex-direction: column;

    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}

.page-footer__physical-address{
    margin-bottom: 12px;
}

.page-footer__mail-phone {
    transition: color 250ms var(--function-timing);

    margin-bottom: 12px;

    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);

    &--last{
        margin-bottom: 0px;
    }

    &:hover,
    &:focus{
    color: var(--accent-color);
    }
}


