.overlay__object{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    margin: 0; 

    &--text{
    width: 322px;

    color: var(--contrast-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    }
}