%buttons-style{
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    align-items: center;

    color: var(--contrast-color);
    background-color: var(--accent-color);
    font-weight: 700;
    line-height: 1.88;
}

%set-flex{
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
        margin-top: -30px;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
    }
}

%item-set-flex{
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        flex-basis: calc(100% / 2 - 30px);
        margin-top: 30px;
        margin-left: 30px;
        }
}

%set-margin{
    @media screen and (max-width: 767px) {
        margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 30px;
    }
}

%text-style{
    margin-top: 0;
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase; 
}

%title-style{
    margin-top: 0;
    margin-bottom: 50px;
    
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;

    color: var(--additional-page-color);

    @media screen and (min-width: 1200px) {
        font-size: 36px;
        line-height: 1.17;
    }
}

%footer-text{
    display: inline-block;
    margin-bottom: 26px;

    color: var(--contrast-color);
}