:root 
    {--page-main-color: #757575;
    --additional-page-color: #212121;--accent-color: #2196F3;
    --contrast-color: #ffffff;
    --icon-color: #AFB1B8; 
    --function-timing: cubic-bezier(0.4, 0, 0.2, 1);
    --main-font-family: 'Roboto', 'Verdana', 'Tahoma', sans-serif;
    --additional-font-family: 'Raleway', 'Merriweather', sans-serif;
    }